<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mural</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Email</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.email" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Labor</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.labor" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Descripcion</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.descripcion" required></ion-input>
  </ion-item>
  

  <ion-button (click)="addTrabajador()" expand="full">
    Agregar Trabajador
  </ion-button>

  <ion-list #myList>
    <ion-list-header>
      <ion-label>Trabajadores</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item *ngFor="let dato of datos">
        <ion-avatar (click)="mostrarModal ('','')" slot="start">
          <ion-img src="/assets/gente1.jpg">
          </ion-img>
        </ion-avatar>
        <ion-label text-wrap> {{dato.nombre}}</ion-label>
        <ion-label slot="end">{{dato.labor}}</ion-label>
          
      
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>

